@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.navBackground{
    font-family: 'Inter', sans-serif;
}

.navbar a:hover{
    color: whitesmoke;
    background-color: #6D28D9;
}